*{
    padding: 0;
    outline: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav{
}
ul{
    list-style-type: none;
    background-color: antiquewhite;

}
.nav ul li{
    display: inline-block;
}
.nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 30px;
    color: black;
    display: inline-block;
    transition: .8s;
}
.nav ul li a:hover{
    background-color: aqua;
    color: #1e1111;
}
.img{
    height: 800px;
    width: 100%;
    background-size: cover;

}